#contents{float: right; width: 700px; min-height: 700px;}
#contents>h2{font:bold 30px/1.6 "arial"; color: #333;}
#contents>table{width: 100%; margin-top: 30px;}
#contents>table th{height: 35px; text-align: center; border-top: 1px solid #aaa; border-bottom: 2px solid #ccc;}
#contents>table td{height: 35px; text-align: center; border-bottom: 1px dashed #aaa; }
#contents>div{text-align: center;}
#contents>div>a{display: inline-block; color: #aaa; margin: 0 2px; margin-top: 20px; }
#contents>div>a>img{position: relative; top: 2px;}
