@media screen and (min-width:560px) and (max-width:999px){
.headerWrap{
  margin-top: -60px;
}
#header{
  width: 100%;
}
#contents{
  padding: 0 20px;
  box-sizing: border-box;
}
#visual{
  width: 100%; height: 450px;
}

#footer{
  width: 100%;
}
/* header */
#header span{
  margin: 0 3px;
}
.topMemu{
  display: none;
}
.logo{
  position: absolute;
  top: 70px;
  left: 50%; margin-left: -70px;
}
.util{
  display: none;
}
.topbtn{
  display: none;
}
#gnb{
  display: none;
}

/* visual */
.vis01{
 display: none;
}

.vis02{
  display: none;
}

/* con1 */
.con1{
  width: 100%; height: 150px;
}
.con2{
  width: 100%;
  margin-top: 15px; padding-bottom: 45px;
}
.con2 h2{
  margin-bottom: 30px;
}
.con2 h3{
  margin-bottom: 12px;
}
.con2>div{
  width: 32%;
  margin-right: 2%;
}
.con23{
  margin-right: 0% !important;
}
.con2>div>div{
  padding: 20px;
}

/* con3 */
.con3{
  width: 100%;
}
.con3 h4{
  margin-bottom: 10px;
}
.con3 img{
  margin-top: 30px;
}
.con4{
  width: 66%;
  margin-right: 3%; margin-top: 40px; margin-bottom: 40px;
}
.con4>div{
  width: 33.33%; height: 200px;
  padding: 30px 20px;
}
.con4>div>img{
  display: none;
}
.con5{
  width: 30%; height: 200px;
  padding: 30px 20px; margin-top: 40px;
}
.con5>img{
  display: none;
}
/* con6 */
.con6{
  width: 100%;
  margin-top: 40px;
}
.con6>div{
  width: 25%;
}
.con65{
  height: 95px;
}
.con66{
  width: 50%!important;
  background: #EFEFEF
}
.con66>ul>li{
  float: left;
  width: 16.666%;
}
.con66>ul>li>a{
  display: block; height: 95px;
  font:bold 20px/95px "맑은고딕"; color: #888;
}
.con67 {
  height: 95px;
}
/* con7 */
.con7{
  width: 100%;
  margin-top: 20px;
}
.con71{
  width: 100%; height: 120px;
  padding: 30px 25px;
  text-align: center;
}
.con72{
  display: none;
}
/* con8 */
.con8{
  width: 100%;
  margin-top: 40px;
}
.con8>h2{
  margin-bottom: 22px;
}
.con8>ul>li{
  width: 100%;
}
.con8>ul>li:last-child{
  width: 100%;
}
.con81{
  width: 100%; height: 320px;
  margin-bottom: 50px;
}

/* #footer */
.fotmenu{
  display: none;
}
.botBtn{
  display: none;
}
.botLogo{
  position: absolute;
  left: 50%; margin-left: -86px;
  bottom: 0px;
}
#footer p.fotTop{
  display: none;
}
#footer p{
  display: none;
}
.sns{
  display: none;
}
.QikBtn{
  display: none;
}
}
